nav,footer{
    padding: 8px;
    background-color: lightsalmon;
    border-radius: 10px;
}

ul{
display: flex;
justify-content: space-between;

}
li{
    display: flex-inline;
    list-style-type: none;
}
nav a{

    text-decoration: none;
    color: rgb(35, 32, 32);
}
.text{
    padding: 60px;
}
img{
    padding: 50px;
    border-radius: 25px;
}